<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqy.stockWealth.dal.mapper.ShareHoldInfoMapper">
  <resultMap id="BaseResultMap" type="com.qqy.stockWealth.dal.entity.ShareHoldInfo">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="stock_id" jdbcType="VARCHAR" property="stockId" />
    <result column="stock_no" jdbcType="INTEGER" property="stockNo" />
    <result column="stock_base_value" jdbcType="DECIMAL" property="stockBaseValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, stock_id, stock_no, stock_base_value
  </sql>
  <select id="selectByExample" parameterType="com.qqy.stockWealth.dal.entity.ShareHoldInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from share_hold_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insertSelective" parameterType="com.qqy.stockWealth.dal.entity.ShareHoldInfo">
    insert into share_hold_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="stockNo != null">
        stock_no,
      </if>
      <if test="stockBaseValue != null">
        stock_base_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="stockNo != null">
        #{stockNo,jdbcType=INTEGER},
      </if>
      <if test="stockBaseValue != null">
        #{stockBaseValue,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qqy.stockWealth.dal.entity.ShareHoldInfoExample" resultType="java.lang.Long">
    select count(*) from share_hold_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update share_hold_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.stockId != null">
        stock_id = #{record.stockId,jdbcType=VARCHAR},
      </if>
      <if test="record.stockNo != null">
        stock_no = #{record.stockNo,jdbcType=INTEGER},
      </if>
      <if test="record.stockBaseValue != null">
        stock_base_value = #{record.stockBaseValue,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update share_hold_info
    set id = #{record.id,jdbcType=BIGINT},
      stock_id = #{record.stockId,jdbcType=VARCHAR},
      stock_no = #{record.stockNo,jdbcType=INTEGER},
      stock_base_value = #{record.stockBaseValue,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>